h2,h3{
    margin:0;
}
.space{
    padding:0.5rem;
    background-color: white;
    border-radius: 1rem;
    margin: 2rem;
}
.user-item{
   display: flex; 
   background-color: white;
}
.user-item-content{
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
img{
    border-radius: 50%;
    height: 5rem;
}
